<!-- register -->
<h3>Register</h3>
<% if (error) { %>
<div class="alert alert-error">
<%= error %>
</div>
<br>
<% } %>
<form action="/admin/register" method ="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="username"><b>Username</b></label>
    <input
        type="text"
        name="username"
        placeholder="Enter Username"
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        inputmode="text"
    >

    <label for="password"><b>Password</b></label>
    <input
        type="password"
        name="password"
        placeholder="Enter Password"
        autocapitalize="none"
        autocomplete="new-password"
        autocorrect="off"
        spellcheck="false"
    >
    <input type="submit" value="Register" class="btn">
</form>
