<h1>Project Overview</h1>
<div>
This website is designed by Jonathan Lai as a learning project with the
following functionalities:
    <ul>
        <li>CRUD Operations</li>
        <li>Database Integration</li>
        <li>Web Security</li>
        <li>Search and Display</li>
        <li>User Authentication</li>
        <li>Navigation</li>
        <li>Conditional Rendering</li>
        <li>Page Styling</li>
    </ul>
Please feel free to test the site. Creating or editing posts requires user registration.<br>
<p>
    Source code:
    <a
        href="https://github.com/jlai9001/DaBlog"
        target="_blank"
        rel="noopener noreferrer"
        >
        GitHub Repository
    </a>
</p>
</div>
