<h1>Project Overview</h1>
<div>
This website is designed by Jonathan Lai as a learning project with the
following functionalities:
    <ul>
        <li>CRUD Operations</li>
        <li>Database Integration</li>
        <li>Web Security</li>
        <li>Search and Display</li>
        <li>User Authentication</li>
        <li>Navigation</li>
        <li>Conditional Rendering</li>
        <li>Page Styling</li>
    </ul>
Please feel free to test the site. Admin panel requires user registration.
</div>
